<section class="p-4">
  <h2 class="font-bold text-xl" mat-dialog-title>Contactos Microtrón SAS</h2>
  <mat-dialog-content class="flex flex-col gap-4">
    <div class="p-4">
      <p class="text-xl">Gerencia</p>
      <p>Ing. Elsa Victoria Aristizabal de Villegas</p>
      <p>Celular: +57 320 690 5604</p>
      <p>Email: <a href="mailto:elsavictoria@microtron.com.co">elsavictoria&#64;microtron.com.co</a></p>
    </div>
    <mat-divider></mat-divider>
    <div class="p-4">
      <p class="text-xl">Comercial</p>
      <p>Esp. Angela Osorio</p>
      <p>Celular: +57 310 456 7890</p>
      <p>Email: <a href="mailto:comercial@microtron.com.co">comercial&#64;microtron.com.co</a></p>
    </div>
    <mat-divider></mat-divider>
    <div class="p-4">
      <p class="text-xl">Contabilidad</p>
      <p>Aux. Contable Lilibeth Loaiza</p>
      <p>Celular: +57 300 123 4567</p>
      <p>Email: <a href="mailto:contabilidad@microtron.com.co">contabilidad&#64;microtron.com.co</a></p>
    </div>
    <mat-divider></mat-divider>
  </mat-dialog-content>
</section>