<section class="flex flex-col m-6">
  <h2 mat-dialog-title class="text-xl font-semibold mb-4">Describe tu problema</h2>

  <mat-dialog-content class="mat-typography">
    <mat-stepper #stepper [linear]="isLinear">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Describe el problema</ng-template>

          <div class="m-4">
            <p class="mt-4 font-semibold">Seleccione el fabricante del producto afectado:</p>
            <mat-form-field class="w-full">
              <mat-label>Fabricante del producto afectado</mat-label>
              <mat-select formControlName="manufacturer" required>
                <mat-option value="adobe">Adobe</mat-option>
                <mat-option value="anydesk">Anydesk</mat-option>
                <mat-option value="atlasti">Atlas.ti</mat-option>
                <mat-option value="autodesk">Autodesk</mat-option>
                <mat-option value="claris">Claris</mat-option>
                <mat-option value="corel">Corel</mat-option>
                <mat-option value="graphisoft">Graphisoft</mat-option>
                <mat-option value="kaspersky">Kaspersky</mat-option>
                <mat-option value="microsoft">Microsoft</mat-option>
                <mat-option value="panopto">Panopto</mat-option>
                <mat-option value="sketchup">SketchUp</mat-option>
                <mat-option value="starlab">Starlab</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <div class="m-4">
            <p class="font-semibold">Seleccione la prioridad del problema:</p>
            <mat-form-field class="w-full">
              <mat-label>Prioridad del problema</mat-label>
              <mat-select formControlName="priority" required>
                <mat-option value="baja">P4: menor, Interrupciones minimas (o ninguna) de operaciones
                  normales.</mat-option>
                <mat-option value="media">P3: importante, Interrupciones de operaciones normales.</mat-option>
                <mat-option value="alta">P2: urgente, Interrupciones graves de operaciones normales.</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <div class="m-4">
            <p class="font-semibold">¿Donde esta P1: Critico?</p>
            <p class="text-sm text-gray-500">Si el problema produce interrupciones o interrupciones extremadamente
              graves en un sistema de producción, llámanos para que podamos atenderte de inmediato: +57 (311)774-2766
            </p>
          </div>
          <mat-divider></mat-divider>
          <div class="m-4">
            <p class="font-semibold">Cuantificar la indicendia del problema</p>
            <p class="text-sm text-gray-500">Ayúdanos a conocer en qué escala afecta el problema a tu organización.</p>
          </div>
          <mat-divider></mat-divider>
          <div class="m-4">
            <p class="font-semibold mt-4">Resume el problema</p>
            <p class="text-sm text-gray-500">Escribe una breve descripción del problema. Así nos referiremos a tu caso.
            </p>
            <mat-form-field class="w-full">
              <mat-label>Introducir titulo</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <div class="m-4">
            <p class="font-semibold mt-4">Describe el problema</p>
            <p class="text-sm text-gray-500">Incluye cuándo se produjo por primera vez, las tareas que estabas tratando
              de completar o los productos que estabas usando cuando se produjo el problema y los pasos para reproducir
              el problema.</p>
            <mat-form-field class="w-full">
              <mat-label>Introducir descripción</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>

          <div class="py-4 m-4 flex flex-col justify-center items-center">
            <p class="font-semibold mt-4">Adjunta capturas de pantalla (opcional)</p>
            <p class="text-sm text-gray-500">Archivos permitidos: SVG, PNG, JPG. Máximo 20 MB.</p>
            <button type="button" class="text-white bg-primary hover:bg-primary/80 hover:text-white font-semibold py-2 px-4 rounded-full mt-4" (click)="fileInput.click()">Seleccionar Archivos</button>
            <input hidden #fileInput type="file" multiple (change)="onFileSelected($event)">
            @if (selectedFiles.length > 0) {
            <div class="mt-2">
              @for (file of selectedFiles; track $index) {
              <div class="text-sm flex flex-row justify-between">
                <span class="m-2">{{ file.name }}</span>
                <button type="button" class="text-white bg-primary hover:bg-primary/80 hover:text-white font-semibold py-2 px-4 rounded-full m-2" (click)="removeFile($index)" aria-label="Eliminar archivo">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              }
            </div>
            }
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Método de contacto</ng-template>

          <div class="m-4">
            <p class="font-semibold">Correo electrónico</p>
            <p class="text-sm text-gray-500">Te enviaremos comunicaciones y actualizaciones de casos a esta dirección: <span class="font-semibold">john&#64;microtron.com</span></p>
          </div>
          <mat-divider></mat-divider>
          <div class="m-4">
            <p class="font-semibold">Enumera las personas a las que deseas enviar una notificación (opcional)</p>
            <p class="text-sm text-gray-500">El Servicio de atención al cliente de Adobe enviará novedades de casos a los correos electrónicos de esta lista. Puedes enviar notificaciones a un máximo de 10 personas.</p>
            <mat-form-field class="w-full">
              <mat-label>Introducir correo electrónico</mat-label>
              <input matInput formControlName="notificationEmails">
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <div class="m-4">
            <p class="font-semibold">Horas laborales</p>
            <p class="text-sm text-gray-500">Si necesitamos llamarte, un agente de Microtrón tendrá en cuenta cuáles son tus horas de trabajo y el horario comercial del Servicio de atención al cliente de Microtrón SAS.</p>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </mat-dialog-content>

  <mat-dialog-actions class="mt-4">
    <button class="text-black bg-gray-200 hover:bg-gray-300 font-semibold py-2 px-4 rounded-full" (click)="dialogRef.close(false)">Cancelar</button>
    @if (stepper.selectedIndex > 0) {
    <button class="ml-auto text-black bg-gray-200 hover:bg-gray-300 font-semibold py-2 px-4 rounded-full" (click)="stepper.previous()">Atrás</button>
    }
    @if (stepper.selectedIndex < 1) {
    <button  class="ml-auto text-white bg-primary hover:bg-primary/80 hover:text-white font-semibold py-2 px-4 rounded-full" (click)="stepper.next()">
      Siguiente
    </button>
    }
    @if (stepper.selectedIndex === 1) {
    <button class="ml-auto text-white bg-primary hover:bg-primary/80 hover:text-white font-semibold py-2 px-4 rounded-full" (click)="onSubmit()">
      Enviar Incidente
    </button>
    }
  </mat-dialog-actions>

</section>