.mat-paginator {
  background-color: white;
  border-top: 1px solid #e5e7eb;
  border-radius: 0 0 0.5rem 0.5rem;
}

.mat-paginator-page-size {
  margin-right: 8px;
}

.mat-paginator-range-actions {
  margin-left: 8px;
}