<footer
  class="bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-300 shadow-sm md:flex md:items-center md:justify-between md:p-6">
  <span class="text-sm text-gray-600 sm:text-center">© 2025 <a href="https://microtron.com.co/"
      class="hover:underline">Microtrón SAS</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-600 sm:mt-0">
    <li>
      <a href="https://drive.google.com/file/d/1Xrx5UlKy4hoele3CTLvP0O3hk9cJGHyb/view"
        class="hover:underline me-4 md:me-6">Politica de Privacidad</a>
    </li>
    <li>
      <p class="hover:underline hover:cursor-pointer" (click)="openDialog()">Contacto</p>
    </li>
  </ul>
</footer>