<section class="p-6 max-w-7xl mx-auto bg-gray-50">
  @if (incident) {
  <div class="mb-6">
    <nav class="text-sm text-gray-500">
      <a routerLink="/admin/incidents" class="hover:underline">Casos de asistencia técnica</a>
      <span class="mx-2 font-bold">></span>
      <span>{{ incident.title }}</span>
    </nav>
    <h1 class="text-3xl text-gray-800 mt-2">{{ incident.title }}</h1>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <main class="lg:col-span-2">
      <div class="bg-white border rounded-lg p-6">
        <div class="flex justify-between items-center border-b pb-4 mb-4">
          <span [ngClass]="{
            'bg-green-100 text-green-800': incident.status.toLowerCase() === 'abierto',
            'bg-red-100 text-red-800': incident.status.toLowerCase() === 'cerrado'
          }" class="text-sm font-medium px-3 py-1 rounded-full"> {{ incident.status }} </span>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6 text-sm">
          <div>
            <p class="text-gray-500 uppercase text-xs tracking-wider">ID de Caso</p>
            <p class="text-gray-900 font-semibold mt-1">{{ incident.code }}</p>
          </div>
          <div>
            <p class="text-gray-500 uppercase text-xs tracking-wider">Producto</p>
            <p class="text-gray-900 font-semibold mt-1">{{ incident.product }}</p>
          </div>
          <div>
            <p class="text-gray-500 uppercase text-xs tracking-wider">Administrador</p>
            <p class="text-gray-900 font-semibold mt-1">{{ incident.createdBy.email }}</p>
          </div>
          <div>
            <p class="text-gray-500 uppercase text-xs tracking-wider">Prioridad</p>
            <p class="text-gray-900 font-semibold mt-1">{{ incident.priority }}</p>
          </div>

          <div>
            <p class="text-gray-500 uppercase text-xs tracking-wider">Fecha de Creación</p>
            <p class="text-gray-900 font-semibold mt-1">{{ incident.createdAt | date: 'dd MMM yyyy, HH:mm' }}</p>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <h2 class="text-xl font-semibold text-gray-800 border-b pb-3 mb-4">Debate</h2>
        <app-incident-chat [incidentId]="incident._id" [currentUserName]="(currentUser$ | async)?.name || 'Admin'"
          currentUserType="Admin">
        </app-incident-chat>
      </div>
    </main>
    <aside>
      <div class="bg-white border rounded-lg p-6">
        <h3 class="text-lg font-semibold text-gray-800 mb-4">Acciones</h3>
        <div class="flex flex-col gap-3 ">
          <button (click)="reopenIncident()" [disabled]="isUpdating || incident.status !== 'Cerrado'"
            class="bg-gray-100 text-gray-800 px-4 py-2 border border-gray-300 rounded-full hover:bg-gray-200 disabled:opacity-50">
            Reabrir incidencia
          </button>
          <button (click)="closeIncident()" [disabled]="isUpdating || incident.status === 'Cerrado'"
            class="bg-gray-100 text-gray-800 px-4 py-2 border border-gray-300 rounded-full hover:bg-gray-200 disabled:opacity-50">
            Cerrar incidencia
          </button>
        </div>
      </div>

      <div class="bg-white border rounded-lg p-6 mt-6">
        <h3 class="text-lg font-semibold text-gray-800 mb-4">Contactos</h3>
        <div class="text-sm">
          <p class="text-gray-500 uppercase text-xs tracking-wider">Agente de Asistencia</p>
          <p class="text-gray-900 font-medium mt-1">{{ incident.assignedTo?.name }}</p>
          <p class="text-gray-500 uppercase text-xs tracking-wider mt-4">Usuario solicitante</p>
          <p class="text-gray-900 font-medium mt-1">{{ incident.createdBy.name }}</p>
        </div>
      </div>
    </aside>
  </div>
  } @else {
  <p class="text-center text-gray-500">Cargando datos del incidente...</p>
  }
</section>